<!DOCTYPE html>
<html lang="zh-CN">
<!--
        quu..__
         $$$b  `---.__
          "$$b        `--.                          ___.---uuudP
           `$$b           `.__.------.__     __.---'      $$$$"              .
             "$b          -'            `-.-'            $$$"              .'|
               ".                                       d$"             _.'  |
                 `.   /                              ..."             .'     |
                   `./                           ..::-'            _.'       |
                    /                         .:::-'            .-'         .'
                   :                          ::''\          _.'            |
                  .' .-.             .-.           `.      .'               |
                  : /'$$|           .@"$\           `.   .'              _.-'
                 .'|$u$$|          |$$,$$|           |  <            _.-'
                 | `:$$:'          :$$$$$:           `.  `.       .-'
                 :                  `"--'             |    `-.     \
                :##.       ==             .###.       `.      `.    `\
                |##:                      :###:        |        >     >
                |#'     `..'`..'          `###'        x:      /     /
                 \                                   xXX|     /    ./
                  \                                xXXX'|    /   ./
                  /`-.                                  `.  /   /
                 :    `-  ...........,                   | /  .'
                 |         ``:::::::'       .            |<    `.
                 |             ```          |           x| \ `.:``.
                 |                         .'    /'   xXX|  `:`M`M':.
                 |    |                    ;    /:' xXXX'|  -'MMMMM:'
                 `.  .'                   :    /:'       |-'MMMM.-'
                  |  |                   .'   /'        .'MMM.-'
                  `'`'                   :  ,'          |MMM<
                    |                     `'            |tbap\
                     \                                  :MM.-'
                      \                 |              .''
                       \.               `.            /
                        /     .:::::::.. :           /
                       |     .:::::::::::`.         /
                       |   .:::------------\       /
                      /   .''               >::'  /
                      `',:                 :    .'
                                           `:.:'
                          皮卡丘会放电, 欢迎关注我
-->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Pikachu</title>
    <link rel="icon" href="/static/img/icon.png"python manage.py runserver type="image/x-icon">

    <link rel="stylesheet" href="/static/css/index_1.css">
    <!--第一个，首页的body和canvas样式-->
    <link rel="stylesheet" href="/static/css/index_2.css">
    <!--第二个，菜单栏的样式-->

    <link rel="stylesheet" href="/static/css/IPC.css">
</head>
<body>

    <div id="container">
        <div id="dock">
            <ul>
                <li>
                    <span>皮卡丘会放电</span>
                    <a href="http://127.0.0.1:8000/game" target="_blank"><img src="/static/img/icon5.png"></a>
                </li>
                <li>
                    <span>首页</span>
                    <a href="http://127.0.0.1:8000/"><img src="/static/img/icon2.png"></a>
                </li>
                <li>
                    <span>项目页</span>
                    <a href="http://127.0.0.1:8000/projects"><img src="/static/img/icon1.png"></a>
                </li>
                <li>
                    <span>留言区</span>
                    <a href="http://127.0.0.1:8000/plate"><img src="/static/img/icon3.png"></a>
                </li>
                <li>
                    <span>关于</span>
                    <a href="http://127.0.0.1:8000/about"><img src="/static/img/icon4.png"></a>
                </li>
            </ul>
        </div>
    </div>

    <canvas id="canvas">Canvas is not supported in your browser.</canvas>
    <script src="/static/js/index_1.js"></script>
    <!--首页特效的脚本-->
<div style="text-align: center; width: 72%">
    <span style="color: white; position: absolute; bottom: 15px;">
    <a class="IPC" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33022502000159" target="_blank"><img src="/static/img/备案图标.png" style="float:left;"/>浙公网安备 33022502000159号</a>&nbsp;&nbsp;
    <a class="IPC" href="http://www.miitbeian.gov.cn" target="_blank">浙ICP备18031016号-1</a>
    </span>
</div>

</body>
</html>