{% extends "template_1.html" %}
{% block mainbody %}
    <div style="padding: 15px 20px 30px 20px; position: relative; top: 30px;left: 20%; width: 57%; background: white; border-radius: 10px">
        <center><h2>网站使用指南</h2></center>
        <center><span>Beason  2018.8.3  于象山</span></center><br>
        <span>本网站的建站目的是为了和公众号“皮卡丘会放电”互相补充，所以希望大家能配套使用。</span><br><br>
        <span>首页。一个烟花的前端特效，只是为了好看。</span><br><br>
        <span>项目页。展示一些公众号中学习、实验的可视化结果。</span><br><br>
        <span>评论区。评论区的宗旨是打造“皮卡丘会放电”粉丝线上匿名交流区，所以是匿名的。但是评论区原则还是有的，就是“自律”。
            发帖会让你填昵称，随便写什么都可以。但是不支持排版、图片、表情等等，因为功能没实现。做这些岂不是要掉一两百根头发，我先不做。</span><br><br>
        <span>关于。放了公众号的二维码，当然是希望大家关注。不过你爱关注不关注，无所谓，嘻嘻。</span><br><br>
        <span>以上，谢谢你能看到这里。</span><br><br>
    </div>
{% endblock %}