<!DOCTYPE html>
<html lang="zh-CN">
<!--
        quu..__
         $$$b  `---.__
          "$$b        `--.                          ___.---uuudP
           `$$b           `.__.------.__     __.---'      $$$$"              .
             "$b          -'            `-.-'            $$$"              .'|
               ".                                       d$"             _.'  |
                 `.   /                              ..."             .'     |
                   `./                           ..::-'            _.'       |
                    /                         .:::-'            .-'         .'
                   :                          ::''\          _.'            |
                  .' .-.             .-.           `.      .'               |
                  : /'$$|           .@"$\           `.   .'              _.-'
                 .'|$u$$|          |$$,$$|           |  <            _.-'
                 | `:$$:'          :$$$$$:           `.  `.       .-'
                 :                  `"--'             |    `-.     \
                :##.       ==             .###.       `.      `.    `\
                |##:                      :###:        |        >     >
                |#'     `..'`..'          `###'        x:      /     /
                 \                                   xXX|     /    ./
                  \                                xXXX'|    /   ./
                  /`-.                                  `.  /   /
                 :    `-  ...........,                   | /  .'
                 |         ``:::::::'       .            |<    `.
                 |             ```          |           x| \ `.:``.
                 |                         .'    /'   xXX|  `:`M`M':.
                 |    |                    ;    /:' xXXX'|  -'MMMMM:'
                 `.  .'                   :    /:'       |-'MMMM.-'
                  |  |                   .'   /'        .'MMM.-'
                  `'`'                   :  ,'          |MMM<
                    |                     `'            |tbap\
                     \                                  :MM.-'
                      \                 |              .''
                       \.               `.            /
                        /     .:::::::.. :           /
                       |     .:::::::::::`.         /
                       |   .:::------------\       /
                      /   .''               >::'  /
                      `',:                 :    .'
                                           `:.:'
                          皮卡丘会放电, 欢迎关注我
-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Pikachu</title>
    <link rel="icon" href="/static/img/icon.png" type="image/x-icon">

    <link rel="stylesheet" href="/static/css/index_2.css">
    <link rel="stylesheet" href="/static/css/IPC.css">

</head>
<body style='background-image: url("/static/img/bg-2.jpeg"); background-size: 100%'>
    <div id="container">
        <div id="dock">
            <ul>
                <li>
                    <span>皮卡丘会放电</span>
                    <a href="http://127.0.0.1:8000/game" target="_blank"><img src="/static/img/icon5.png"></a>
                </li>
                <li>
                    <span>首页</span>
                    <a href="http://127.0.0.1:8000/"><img src="/static/img/icon2.png"></a>
                </li>
                <li>
                    <span>项目页</span>
                    <a href="hhttp://127.0.0.1:8000/projects"><img src="/static/img/icon1.png"></a>
                </li>
                <li>
                    <span>留言区</span>
                    <a href="http://127.0.0.1:8000/plate"><img src="/static/img/icon3.png"></a>
                </li>
                <li>
                    <span>关于</span>
                    <a href="http://127.0.0.1:8000/about"><img src="/static/img/icon4.png"></a>
                </li>
            </ul>
        </div>
    </div>

{% block mainbody %}
{% endblock %}

</body>
</html>